[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
